<div class="container-fluid">
    <!-- <div class="row">
       <div class="main-header">
          <h4>2030 워드 클라우드</h4>
       </div>
    </div> -->
    <!-- 4-blocks row start -->

    <!-- 사진 가운데 정렬 -->
    <style>.center{display: block; margin: auto;}</style>
    <style>#title{background-color: rgba(43, 61, 81, 0.7);}</style>
    <style>#white_word{color: rgb(236, 230, 230);}</style>
    </div>
    <!-- 박스 생성 -->
    <div class="row dashboard-header">
    <br>
      <!-- 제목 -->
       <div class="col-md-12" >
          <div class="card dashboard-product" id='title'>
            <h3 align='center' class="dashboard-total-products" id='white_word'>2030 워드 클라우드</h3>
            <br>
            <div align='center' id='white_word'>2030세대의 선거관련 유튜브 댓글을 통하여 여론을 분석하고 이를 워드클라우드로 형성</div>
          </div>
       </div>

       <!-- 명사 워드클라우드 박스 -->
       <div class="col-lg-3 col-md-6">
         <div class="card dashboard-product">
           <h2 align='center' class="dashboard-total-products">명사 분석</h2>
           <br>
           <img class="center" srcset="/static/images/wordcloud/w_wc_nouns.png 2500w"></img>
         </div>
      </div>

      <!-- 형용사 워드클라우드 박스 -->
       <div class="col-lg-3 col-md-6">
          <div class="card dashboard-product">
            <h2 align='center' class="dashboard-total-products">형용사 분석</h2>
            <br>
            <img class="center" srcset="/static/images/wordcloud/w_wc_adj.png 2500w"></img>
          </div>
       </div>

      <!-- 동사 워드클라우드 박스 -->
       <div class="col-lg-3 col-md-6">
          <div class="card dashboard-product">
            <h2 align='center' class="dashboard-total-products">동사 분석</h2>
            <br>
            <img class="center" srcset="/static/images/wordcloud/w_wc_verb.png 2500w"></img>
          </div>
       </div>

      <!-- 빈출 단어 박스  static/data의 csv 파일 불러오기! -->
       <div class="col-lg-3 col-md-6">
          <div class="card dashboard-product">
             <span>빈출 명사 top10</span>
             <h2 class="dashboard-total-products">$<span>30,780</span></h2>
             <span class="label label-danger">Sales</span>Reviews
             <div class="side-box">
                <i class="ti-rocket text-danger-color"></i>
             </div>
          </div>
       </div>
       <div class="col-lg-3 col-md-6">
         <div class="card dashboard-product">
            <span>빈출 형용사 top10</span>
            <h2 class="dashboard-total-products">$<span>30,780</span></h2>
            <span class="label label-danger">Sales</span>Reviews
            <div class="side-box">
               <i class="ti-rocket text-danger-color"></i>
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-md-6">
         <div class="card dashboard-product">
            <span>빈출 동사 top10</span>
            <h2 class="dashboard-total-products">$<span>30,780</span></h2>
            <span class="label label-danger">Sales</span>Reviews
            <div class="side-box">
               <i class="ti-rocket text-danger-color"></i>
            </div>
         </div>
      </div>
    </div>
 </div>